<nav>
    <div class="site-title">
      <a href="/main"><h1>BloodBank</h1></a>
      <p>A Blood Bank site</p>
    </div>
    <ul>
      <li><a href="/donate">Donate</a></li>
      <li><a href="/bloodbank">Blood Bank</a></li>
      <li><a href="/receive">Receive</a></li>
      <li><a href="/logout"> logout</a></li>
    </ul>
  </nav>