<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BloodBank</title>
    <link rel="stylesheet" href="registration.css">
</head>
<body>
    <div class="login">
        
      <form action="/registration" method="post">
        <input type="text" placeholder="Username" id="username" name="username">  
        <input type="password" placeholder="password" id="password" name="password"> 
        Blood Group   <select name="bloodgroup" id="bloodgroup">
          <option value="A+" name="A+">A+</option>
          <option value="A-" name="A-">A-</option>
          <option value="B+" name="B+">B+</option>
          <option value="B-" name="B-">B-</option>
          <option value="AB+" name="AB+">AB+</option>
          <option value="AB-" name="AB-">AB-</option>
          <option value="O+" name="O+">O+</option>
          <option value="O-" name="O-">O-</option>
      </select>
      <button type="submit">Register</button>
      </form>
      <a href="/login" id="registration">Already Registered? Please login</a>
    </div>
    <div class="shadow"></div>
    
</body>
</html>